<template>
    <div>
        <div class="page-header pr-0">
            <h2><a href="/dashboard"><i class="fas fa-tachometer-alt"></i></a></h2>
            <ol class="breadcrumbs">
                <li class="active"><span>{{ title }}</span></li>
            </ol>
            <div class="right-wrapper pull-right">
                    <button type="button" class="btn btn-custom btn-sm  mt-2 mr-2" @click.prevent="clickCreate()"><i class="fa fa-plus-circle"></i> Nuevo</button>
<button type="button" class="btn btn-custom btn-sm  mt-2 mr-2" @click.prevent="clickCreatea()"><i class="fas fa-shopping-cart"></i> Aperturar de agente</button>
            </div>
        </div>
        <div class="card mb-0">
            <div class="card-header bg-info">
                <h3 class="my-0">Listado de Movimiento en  {{ title }}</h3>
            </div>
            <div class="card-body">
                <data-table :resource="resource">
                    <tr slot="heading">
                        <th>#</th>
                        <th>Operacion</th>
                        <th>Banco/Caja</th>
                        <th>Monto</th>
                        <th>Fecha creación</th>
                        <th class="text-right">Acciones</th>
                    <tr>
                    <tr slot-scope="{ index, row }">
                        <td>{{ index }}</td>
                        <td>{{ row.operacion }}</td>
                        <td>{{ row.banks }}</td>
                       <td>{{ row.monto }}</td>
                       <td>{{ row.created_at}}</td>
                        <td class="text-right">
                            <button type="button" class="btn waves-effect waves-light btn-xs btn-info" @click.prevent="clickCreate(row.id)">Editar</button>
                            <button type="button" class="btn waves-effect waves-light btn-xs btn-danger" @click.prevent="clickDelete(row.id)">Eliminar</button>
                        </td>
                    </tr>
                </data-table>
            </div>

            <agente-form 
                :showDialog.sync="showDialog"
                :recordId="recordId"
                    ></agente-form> 
                    <agente-formaper 
                :showDialog.sync="showDialog"
                :recordIda="recordIda"
                    ></agente-formaper>
        </div>
    </div>
</template>

<script>

    import AgenteForm from './form.vue' 
    import DataTable from '../../../../../../../resources/js/components/DataTable.vue'
    import {deletable} from '../../../../../../../resources/js/mixins/deletable'

    export default {
        mixins: [deletable],
        components: {DataTable, AgenteForm},
        data() {
            return {
                title: null,
                showDialog: false, 
                resource: 'agentes',
                recordId: null,
                recordIda: null,
            }
        },
        created() {
            this.title = 'Agente'
        },
        methods: { 
            clickCreate(recordId = null) {
                this.recordId = recordId
                this.showDialog = true
            }, 
             clickCreatea(recordIda = null) {
                this.recordIda = recordIda
                this.showDialog = true
            }, 
            clickDelete(id) {
                this.destroy(`/${this.resource}/${id}`).then(() =>
                    this.$eventHub.$emit('reloadData')
                )
            }
        }
    }
</script>
